<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All picture Sets</title>
</head>
<body>

<div th:each="pictureSet : ${pictureSets}">
    <a th:text="${pictureSet.getCount()} ">count</a>
    <a th:text="${pictureSet.getExposure().toString()} ">count</a>
    <a th:text="${pictureSet.getExposureTime()} ">count</a>
    <a th:text="${pictureSet.getIso().toString()} ">count</a>
    <a th:text="${pictureSet.getAperture().toString()} ">count</a>
    <a th:text="${pictureSet.getPictureName()} ">count</a>
    <a th:text="${pictureSet.getPause()} ">count</a>
    <form th:method="delete" th:action="@{/sets/{id}(id=${pictureSet.getId()})}">
        <input type="submit" value="Delete">
    </form>
    </br>
</div>

</body>
</html>